<div class="">
    <span style="font-size: 15px">Posted on</span>
    <time style="font-size:14px">{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    {{ with .ReadingTime}}<span style="font-size: 15px"> • {{ . }} minute read</span>{{ end }}

    <div>
      <span style="font-size: 15px">Categories: </span>
      {{ range $key, $value := .Params.categories -}}
        {{- if $key }}, {{ end }}
        <a style="font-size: 14px" href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>
      {{- end }}
    </div>

  {{ if and .IsPage (ne .Date .Lastmod) }}
    <div>
      Last updated on
      <time>{{ .Lastmod.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    </div>
  {{ end }}
</div>
